<!-- On fait appel à l'auteur de la page en récupérant son ID qui est en paramètre dans
L'URL grâce à la méthode appelée dans le controller, puis on affiche les infos de la ville
en suivant la logique de la base de données-->


<!-- On inclus le contenu dans un row et une colonne pour limiter la largeur -->
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">

      <h3 class="card-title text-center m-4"><%= "#{@city.name}'s gossips" %></h3>

      <div class="list-group col">
        <% @city_gossips.each do |gossip| %>

        <%= link_to gossip_path(gossip.id), class: "list-group-item list-group-item-action mb-2" do %>
        <div class="row">
          <div class="col-9">
            <h5 class="mb-1"><%= gossip.title %></h5>
            <small><%= "by #{gossip.user.first_name} #{gossip.user.last_name}" %></small>
          </div>
          <div class="col-3 text-right">
            <small>Comments : </small><span class="badge badge-primary badge-pill">14</span>  
          </div>
        </div>
        <% end %>


        <% end %>
      </div>

    </div>
  </div>
</div>